@font-face {
  font-family: myFirstFont;
  src: url(fonts/BebasNeue-Regular.ttf);
}

.button {
  width: 100%;
  background-color:#AC87C5;
}

h1 {
  color: #AC87C5;
  font-family: myFirstFont;
}

.loginBtnId{
 background-color:#756AB6;
 font-style: normal;
}

.btnName{
 color:#756AB6;
 font-style: normal;

}
